# max_connections = 
# max_total_connections = 
# max_threads = 
# max_queued_requests = 
# thread_idle_ms = 
# connection_timeout_ms = 
# socket_timeout_ms = 
# socket_keepalive = 
# selectors = 
# routing_timeout_ms = 
# getall_routing_timeout_ms = 
# put_routing_timeout_ms = 
# get_routing_timeout_ms = 
# getversions_routing_timeout_ms = 
# delete_routing_timeout_ms = 
# allow_partial_getalls = 
# node_bannage_ms = 
# socket_buffer_size = 
# serializer_factory_class = 
# bootstrap_urls = 
# request_format = 
# enable_jmx = 
# enable_pipeline_routed_store = 
# enable_hinted_handoff = 
# enable-lazy = 
# client_zone_id = 
# failuredetector_implementation = 
# failuredetector_bannage_period = 
# failuredetector_threshold = 
# failuredetector_threshold_interval = 
# failuredetector_threshold_countminimum = 
# failuredetector_asyncscan_interval = 
# failuredetector_catastrophic_error_types = 
# failuredetector_request_length_threshold = 
# max_bootstrap_retries = 
# voldemort_client_context_name = 
# check_metadata_interval_ms = 
# use_default_client = 
# client_registry_refresh_interval_seconds = 
# async_job_thread_pool_size = 
# sys_max_connections_per_node = 
# sys_routing_timeout_ms = 
# sys_connection_timeout_ms = 
# sys_socket_timeout_ms = 
# sys_enable_jmx = 
# sys_enable_pipeline_routed_store = 